.messageLeft{
    position: relative;
    float:Left;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(182, 236, 237);
    margin: 5px;
}
#time{
    font-size: 1.3vh;
    padding: 1px;
}
#text{
    font-size: 3vh;
    padding: 1px;
}

.messageRight{
    position: relative;
    float:Right;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: #ffffff;
    margin: 5px;
}

.text {
    max-width: 80%;
}


.video {
    width: 220px;
    height: 150px;
}
#video{
    max-width: 200px;
    max-height: 200px;
}

.image {
    max-width: inherit;
    max-height: inherit;
}
#image{
    max-width: 200px;
    max-height: 200px;
}

#audio{
    max-width: 100%;
}

.audio{
    max-width: 50%;
}
