body{
    background-color:AliceBlue;
    font-family: cursive;
    /* overflow-y: hidden; */
  }
  
.card{
    background-color:rgb(155, 233, 233);
    margin: 0px;
    border-radius: 0px;
}

.card-body{
    padding: 1px;
}

#imgUserChat{
    height: 60px;
    border-radius: 50%;
}

#userNameChat{
    font-size: 2vw;
    position: relative;
    /* height: 12vh; */
    height: 16.5%;
}

#startImg {
    position: relative;
    height: 100%;
    border-radius: 0%;
}

#sendMessage:hover{
    cursor: pointer;

}
#chats{
    display: flex;
    position: absolute;  
    background-color: red;
    width: 90%;
    height: 70%;
    margin-left: 5%;
}

#mainScreen{
    padding: 0px;
    min-height: 100%;
    max-height: 100%;
    width: 65%;
}
#leftMenuchat{
    padding-left: 0px;
    width: 35%;
    height: 100%;
}

#screenLimit{  
    background-color:rgb(155, 233, 233);   
    min-height: 10.4%;
    max-height: 10.4%;
    /* height: 7vh; */
}

#chat{
    position: relative;
    display: flex !important;
    max-width: 100%;
    min-width: 100%;
    max-height: 73.1%;
    min-height: 73.1%;
    /* min-height: auto;
    max-height: auto; */
    /* max-height: 50.5vh;
    min-height: 50.5vh; */
    flex-direction: column !important;
    flex-wrap: nowrap;
    overflow-y:scroll; 
    background-image: url('chatBackground.png');
    flex: 1;
    /* margin-left: 0%;
    position: relative;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    flex: 1;
    min-height: auto;
    max-height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    font-family: cursive; */
    
}


#uploadImg{
    background-color: white;
}

#modaldialog{
    z-index: 2000 !important;
    color:white;
}
.errorMessage{
    color: red;
}

#alert{
    color: red;
}

#header {
    height: 10em;
    position: relative;
    text-align: center;
    align-content: center;
}
#namePage{
    font-size:8em;
    font-family:cursive;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
#header img{
    max-height: 85%;
    max-width: 180px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 40%;
}
#sendMessage{
    margin-top: 22%;
    margin-left: -15%;
    border-radius: none;
    border: none;
    background-color:rgb(155, 233, 233); 
    size: 100px;
}

#addFileMessage{
    border-radius: none;
    border: none;
    background-color:rgb(155, 233, 233); 
}

#recordButton{
    border-radius: none;
    border: none;
    background-color:rgb(155, 233, 233); 
}



