body{
    background-color: paleturquoise;
}

.messages{
    background-image: url('chatBackground.jpeg');
}
.card{
    background-color: lavenderblush;
}

#sendMessage:hover{
    cursor: pointer;
    
}
/*
#screen{
    /* width: 800px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px; */

    /* width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle; */

/* }
.list-group-item{ 
    border: 0;
    background-color: transparent;
}
.list-group-item:hover{
    background-color:lightgray;
    cursor: pointer;
} */ 
/* .list-group{
    overflow-y: scroll;
} */
/* .card{
    overflow-y: auto;
} */