body{
    background-color:AliceBlue;
    font-family: cursive;
  }
  
.card{
    background-color: white;
    margin: 0px;
    max-height: 381px;
}

.card-body{
    padding: 1px;
}

#imgUserChat{
    height: 60px;
}

#userNameChat{
    font-size: 20px;
}

#startImg {
    height: 380px;
}

#sendMessage:hover{
    cursor: pointer;

}
#chats{
    position: relative;
    align-content: center;
    
}


#mainScreen{
    padding: 0px;
    height: 380px;
    width: 70%;
}
#leftMenu{
    margin-left: 30px;
    max-height: 380px;
    min-height: 380px;
    position: relative;
}

#screen{
    padding: 0px;
    height: 100px;
    
}

#screenLimit{
    background-image: url('chatBackground.png');
}

#chat{
    display: flex;
    height: 278px;
    min-height: 278px;
    max-height: 278px;
    overflow-y:auto;
    background-image: url('chatBackground.png');
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
}


#uploadImg{
    background-color: white;
}


#modaldialog{
    z-index: 2000 !important;
    color:white;
}
.errorMessage{
    color: red;
}

#header {
    height: 10em;
    position: relative;
    text-align: center;
    align-content: center;
}
#namePage{
    font-size: 100px;
    font-family:cursive;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
#header img{
    max-height: 85%;
    max-width: 180px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 40%;
}