body{
  background-color:AliceBlue;
}

#inputsLogin{
  padding-top: 30px;
  align-content: center;
}
  

#headerLogin {
  height: 15vh;
  position: relative;
  text-align: center;
  align-content: center;
}
#namePageLogin{
  font-size:15vh;
  font-family:cursive;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}


