body{
    background-color:AliceBlue;
}
.registerForm{
    vertical-align: middle;
    width:150px;
}

.alerts{
    color: red;
}

#headerRegister {
    height: 10em;
    position: relative;
    text-align: center;
    align-content: center;
}
#namePageRegister{
    font-size: 8em;
    font-family:cursive;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}
#headerRegister img{
    max-height: 85%;
    max-width: 180px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 40%;
}

#uploadImage{
    padding-left: 20px;
}
#uploadImage:hover{
    cursor: pointer;
}
