body{
    background-color:AliceBlue;
}
.registerForm{
    vertical-align: middle;
    width:150px;
}

.alerts{
    color: red;
}

#headerRegister {
    height: 15vh;
    position: relative;
    text-align: center;
    align-content: center;
  }
  #namePageRegister{
    font-size:15vh;
    font-family:cursive;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

#uploadImage{
    padding-left: 20px;
}
#uploadImage:hover{
    cursor: pointer;
}

#rate{
    margin-left: 2%;
    font-size:3vh;
  }
