.LeftMenuChat:hover{
    background-color:grey;
    cursor: pointer;
}
.LeftMenuChat{
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 1px;
}
.profileImage{
    width: 50%;
    height: 50%;
    
}

#user{
    height: 80px;
}
#time{
    float: right;
}
#name{
    margin: auto;
}

