/* .home{
  background-color: paleturquoise;
}

.mainScreen{
  background-color: lightcyan;
  width: 1200px; */
  /* display: flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  border-radius: 10px;

  vertical-align: middle;  
} */


