.home{
  background-color: paleturquoise;
}

.mainScreen{
  background-color: lightcyan;
  width: 70%;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border-radius: 10px;

  vertical-align: middle;
}


