.home{
  background-color: paleturquoise;
}

.mainScreen{
  background-color: white;

  width: 70%;
  border: 3px solid #0000ff;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;

  vertical-align: middle;
}


