.leftmenu{
    flex: 20;
    /* overflow-y: scroll; */
   
}

.leftmenuheader{
    display: flex;
     justify-content: space-around !important; 
     padding: 30px; 
    width: 100%;
    font-size: large !important;

   
    
}

.leftmenuusers{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    min-width: 10vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
#clickicon:hover{
    cursor: pointer;
}

#errorMessage{
    color: red;
}

#succMess {
    color: green
}

.LeftMenuChat {
   
    cursor: pointer;
    border-radius: 1px;
}
/* .search{
    padding-left: 3px;
} */
