.leftmenu{
    flex: 20;
    /* overflow-y: scroll; */
}

.leftmenuheader{
    display: flex;
    /* justify-content: space-between; */
    padding: 3px;
    border-right: 1px solid lightgrey;
}
.leftmenuusers{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    min-width: 10vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    
}
#clickicon:hover{
    cursor: pointer;
}